<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>whippet shepherd</title>
</head>
<body>

<div>

    <h1>Это тестовый черновик сайта для питомника
        <strong>гранд шихан</strong>
    </h1>
        <p>Пока что он немного, осень сильно не красивый, <br>
            но стажер старается. <br>
            <a href="https://vk.com/greatlan4">Ссылка на его ВК</a>
        </p>

</div>

<div>
    <p>Здесь вы сможете увидеть следующие:</p>

    <ol>
        <li>Фотографии наших собак</li>
        <li>Новости питомника</li>
        <li>Схему потомства и года ощенения</li>
        <li>Статьи(Они будут дублироваться в
            <a href="https://t.me/whippet_shepherd">Телеграм</a>,
            <a href="https://vk.com/whippetshepherd">ВК</a> и
            <a href="https://www.instagram.com/whippetshepherd">Instagram</a>)</li>
    </ol>

</div>

<div>
    <p>В питомнике можно увидеть:</p>

    <ul>
        <li>Щенков немецкой овчарки</li>
        <li>Щенков уиппетов</li>
    </ul>
</div>

</body>
</html>